body {
    margin: 0;
    height: 100%;
    font-family:  "Source Sans Pro",Helvetica,Arial,sans-serif;
}    

h1,
h2 {
	font-family:  "Josefin Slab",Helvetica,Arial,sans-serif;
}

h1 {
	font-size: 40px;
}

.presentation {
	font-size: 22px;
}

.placeholder {
	width: 1170px;
}

#content-wrapper {
    height: 100%;
    width: 100%;
}

#scroll-doc-wrapper {
	position: relative;
	left: 50%;
	top: 30%;
	width: 1170px;
	height: 120px;
	margin-left: -585px;
	/*border: 1px solid #000;*/
}

#scroll-doc {
	width: 1170px;
	height: 120px;
}

#scroll-doc-img {
	position: absolute;
	margin-left: 545px;
	height: 81px;
	width: 62px;
	overflow: hidden;
}

#scroll-doc-img,
#scroll-doc-img.empty {background: url("../img/doc1.png") no-repeat left top;}
#scroll-doc-img.full {background: url("../img/doc2.png") no-repeat left top;}

.pinned {
	position: fixed;
}

.scene {
	height: 100%;
}

#titlechart {
	height: 100%;
	min-height: 500px;
	/*min-width: 100%;*/
	position: relative;
	text-align: left;
	background-color: #0CDEE8;
	
}

#titlechart #titledescription {
    height: 200px;
    /*left: 50%;
    margin: -100px auto auto -300px;*/
    position: relative;
    top: 50%;
}

#trigger0 {
	top: 50%;
	right: 0px;
	height: 1px;
	position: absolute;
	bottom: 300px;
	border: 1px solid #000;
}

#scene1 {
	margin-bottom: 1000px;
	
}
